
//- footer section 
footer.footer 
	.footer__description 
		table 
			tr 
				td 
					a(href="#") about disney<sup style="margin: 0;">+</sup> hotstar
				td 
					a(href="#") terms of use 
				td 
					a(href="#") privacy policy
				td 
					a(href="#") FAQ
				td 
					a(href="#") feedback
				td 
					a(href="#") careers
		.footer__about
			-const year = new Date().getFullYear();
			p.about__description &copy;
				span= year
				| &nbsp; Created by NAZIMUDHEEN TI, follow me on social media click the facebook and twitter icon
	.footer__social 
		.social__media
			p connect with us
			.social__icons 
				a(href="https://www.facebook.com/people/Nazimudheen-TI/100076840677907/")
					i.fa-brands.fa-facebook-square
				a(href="https://twitter.com/NazimudheenT")  
					i.fa-brands.fa-twitter-square
		.social__platforms 
			p disney<sup>+</sup> hotstar app
			.platforms
				.apple
					img(src="./Assets/app_store.png", alt="app-store.png" )
				.android
					img( src="./Assets/play_store.png", alt="play-store.png")