
//- footer section 
footer.footer 
	.footer__description 
		table 
			tr 
				td a
				td s
				td s
				td s
				td s
				td s
		.footer__about
			-const year = new Date().getFullYear();
			p &copy;
				span= year
				| STAR. 