

//- generating links, when user hover a specific link after this list of links displayed
-const tvLinks = ["other shows", "hotstar specials", "quix", "star jalswa", "star plus", "star vijay", "asianet", "star bharath", "more..."];
-const movieLinks = ["hindi", "malayalam", "kannada", "telungu", "tamil", "urdu", "english"];
-const sports = ["cricket", "football", "chess", "hockey", "badminton", "tennis", "wrestling", "running", "karate"];

//- mixins for generating links

mixin list(links, num)
	div(class=`list-${num}`)
		each link in links
			li 
				a(href="#")= link  


//- header container
header.header 

	nav.nav.flex 
		
		//- navigation links right
		.nav__left.flex
			//- hamburger menu
			.nav__menu 	
				i.fas.fa-bars

				.list 
					//- this blank using for invisible height for list 
					.blank
					
					li.list__item-1 
						a(href="#") 
							i.fa-solid.fa-chalkboard-user.symbol_color
							span.text_color channels 
					li.list__item-2 
						a(href="#") 
							i.fa-solid.fa-language.symbol_color
							span.text_color language
					li.list__item-3
						a(href="#") 
							i.fa-solid.fa-masks-theater.symbol_color
							span.text_color genres 

			//- links
			ul.nav__links.flex
				.nav__img
					a(href="#")
						img(src="../Assets/disney.png", alt="disney.png")
				
				.nav__link_color
					a(href="#") tv 
					+list(tvLinks, 1)
			
				.nav__link_color
					a(href="#") movies
					+list(movieLinks, 2)
				
				.nav__link_color
					a(href="#") sports
					+list(sports, 3)
				
				.nav__link_color
					a(href="#") disney<sup>+</sup>
				.kids
					a(href="#") kids

			.user__subscribe.btn-one
				a(href="" class="nav__left-cta nav__left-cta_bg") SUBSCRIBE
		
		//- navigation links left 
		.user.flex
				.user__search#js-search
					input(type="text", name="search" placeholder="search")
					.symbol 
						i.fas.fa-search
				.user__subscribe.btn-two
					a(href="" class="nav__left-cta nav__left-cta_bg") SUBSCRIBE
				.user__login
					a(href="") LOGIN

	//- navigation links left 
	.user.search-down
		.user__search.flex
			input(type="text", name="search" placeholder="search")
			.symbol 
				i.fas.fa-search