
//- header container
header.header 
	nav.nav 

		//- hamburger menu
		.nav__menu 	
			i.fas.fa-bars
		
		//- navigation links right
		.nav__right
			ul
				li
					a(href="#")
						img(src="../Assets/disney.png", alt="")
				li
					a(href="#") tv
				li
					a(href="#") movies
				li
					a(href="#") sports
				li
					a(href="#") disney<sup>+</sup>
				li
					a(href="#") kids
		
		//- navigation links left 
		.nav__left
			ul
				li
					input(type="search", name="search" placeholder="search")
				li
					a(href="") 
				li
					a(href="") 