
//- main section 
main
	section.carousel
		.carousel__button.button__bg--left
			i.fas.fa-angle-left#js-btn-left
		.carousel__button.button__bg--right 
			i.fas.fa-angle-right#js-btn-right
		
		//- carousel container for listing movies
		.carousel__container.flex#js-carousel 
