
//- main section 
main
	section.carousel
		.carousel__button.button__bg--left
			i.fas.fa-angle-left#js-btn-left
		.carousel__button.button__bg--right 
			i.fas.fa-angle-right#js-btn-right
		
		//- carousel container for listing movies
		.carousel__container.flex#js-carousel
			.container__item.flex 
				.text 
					h1.headline Avatar 
					p.genre thriller
						span.rating 4.2 
					span.about 
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde quia, enim beatae fugit inventore, laudantium obcaecati sint voluptate ipsam pariatur sunt deleniti ad error eum consequuntur, est impedit. Quas, delectus.
				.img 
					img(src="../Assets/container/avatar.jpeg", alt="avatar.jpeg")

