
// ==================== variables

// background colors
$bg-1: #0c111b;
$bg-2: #121926;
$bg-3: #334366;

// text-colors 
$text-color-1: #b8b5ad;
$text-color-2: #e0ded7;
$white: #fff;
$link: darken($bg-3, 15);
$yellow: rgb(219, 170, 6);
$blue: rgb(11, 130, 177);

// font-weights
$f-w-1: 400;
$f-w-2: 600;
$f-w-3: 900;

// media sizes 
$desktop: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 424px;




