
// ================== animations

// function module
@use '../1-helpers/functions' as func;


//for menu-bar hover effect 
@keyframes menu-list {
	0% {
		transform: rotateX(-90deg);
		opacity: 0;
		visibility: hidden;
	}
	50% {
		transform: rotateX(-20deg);
	}
	100% {
		transform: rotateX(0deg);
		opacity: 1;
		visibility: visible;
	}
}

// for nav links hover effect
@keyframes nav-list {
	from{
		transform: translateY(func.convertor(25));
		opacity: .2;
	}
	to{
		transform: translateY(0px);
		opacity: 1;
		visibility: visible;
	}
}
