// all animation contents compressed here
@keyframes menu-list {
	0% {
		transform: rotateX(-90deg);
		opacity: 0;
	}
	50% {
		transform: rotateX(-20deg);
	}
	100% {
		transform: rotateX(0deg);
		opacity: 1;
		visibility: visible;
	}
}

@keyframes nav-list {
	from{
		transform: translateY(40px);
		opacity: .2;
	}
	to{
		transform: translateY(0px);
		opacity: 1;
		visibility: visible;
	}
}
