html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		//- style sheets
		link(rel="stylesheet", href="../css/style.min.css")

		//- fonts 
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

		//- favicon icon
		link(rel="icon" href="../Assets/container/aquaman.jpeg" type="image/gif" sizes="16x16")

		//- icons (used font-awesome) etc:- material icons , bootstrap icons other icon libraries are available in the market 
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		//- title
		title Disney-clone

	body(style="background:#0c111b") 

		//- header block 
		include ./blocks/header.pug

		//- main block, it contain hero section and poster sections
		include ./blocks/main.pug

		//- footer block 
		include ./blocks/footer.pug

		//- javascript files
		script(src="../js/index.js" type="text/javascript") 
		