html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		//- style sheets
		block style 

		//- fonts 
		block font 

		//- icons (used font-awesome) etc:- material icons , bootstrap icons other icon libraries are available in the market 
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		//- title
		block title 
	body 
		//- you can add separate block like (header, footer), or you can customize it
		block content 

		//- javascript files
		block script