@use "../1-helpers/1-helpers" as help;

// all elements
*,
*::after,
*::before {
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	background: help.$bg-1;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: help.$text-color-1;
	font-weight: help.$f-w-1;
}

li {
	list-style: none;
}

.flex {
	display: flex;
}