// ================== links

// variable module
@use "../1-helpers/variables" as var;

.list {
	li a {
		display: block;
		padding: 0.8rem 1rem;
		color: var.$text-color-1;
	}
}

.user__login a {
	font-size: 0.9rem;
	font-weight: var.$f-w-2;
	letter-spacing: 0.3px;
}

.item__details a {
	display: block;
	margin-bottom: 0.2rem;
	padding: 0.1rem;
	border-radius: 2px;
	text-align: center;
	font-size: 0.7rem;

	&:hover {
		background: var.$bg-3;
		color: var.$white;
	}

	i {
		margin-right: 0.3rem;
	}
}

.footer table a {
	color: var.$text-color-2;
}