@use "../1-helpers/1-helpers" as help;

// ================ main

// hide scroll-bar
%scroll-width {
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;
}

main {
	padding-top: help.convertor(90);
	background: linear-gradient(to top, help.$bg-1 30%, help.$bg-2);

	// carousel section
	.carousel {
		position: relative;
		margin: 1rem 0 2rem 0;

		&:hover .angle__button {
			opacity: 1;
		}

		// calling angle buttons style mixin
		@include help.angle-btn(rgba(0, 0, 0, 0.1));

		// hide the angle button when reach tablet size
		.angle__button {
			@include help.tablet {
				display: none;
			}
		}

		// carousel container
		.carousel__container {
			overflow: auto hidden;
			transform-style: preserve-3d;
			scroll-behavior: smooth;

			@extend %scroll-width;

			.container__item {
				min-width: 100%;
				height: 63vh;
				padding: 0 2rem;
				justify-content: space-between;
				border-radius: 5px;
				transition: all ease 0.3s 0.3s;

				// media query for laptop size, decreasing the height
				@include help.laptop {
					height: 50vh;
				}

				// media query for tablet size
				@include help.tablet {
					height: 40vh;
					padding: 0 0.5rem;
				}

				// media query for mobile size
				@include help.mobile {
					height: 30vh;
				}

				.text {
					position: relative;
					z-index: 2;
					height: 100%;
					flex: 1;
					padding: 2rem 0 0 2rem;
					text-align: left;
					color: help.$text-color-2;

					// media query for tablet
					@include help.tablet {
						padding: 1rem 0 0 1rem;
					}

					// media query for mobile
					@include help.mobile {
						position: absolute;
						width: 30%;
						display: flex;
						flex-direction: column;
						justify-content: end;
						padding-bottom: 1rem;
					}

					&::after {
						content: "";
						position: absolute;
						left: 0;
						top: 0;
						z-index: -1;
						height: 100%;
						width: 130%;
						border-radius: 5px 0 0 5px;
						background: linear-gradient(
							to right,
							darken(help.$bg-1, 1) 83%,
							rgba(help.$bg-2, 0.8),
							rgba(help.$bg-1, 0.3),
							transparent
						);


						// opacity level decreasing 
						@include help.mobile {
							opacity: .4;
						}
					}
				}
			}

			.img {
				flex: 2;
				img {
					width: 100%;
					height: 100%;
					border-radius: 0 5px 5px 0;
					object-fit: fill;
				}
			}

			:nth-child(10) {
				padding-right: 2rem;
			}
		}
	}

	// poster section
	.poster {
		position: relative;
		width: 100%;
		padding-bottom: 1rem;

		&:hover .angle__button {
			opacity: 0.7;
		}

		// calling angle buttons style mixin
		@include help.angle-btn(rgba(0, 0, 0, 0.8) 70%);

		.angle__button {
			height: 80%;
			bottom: 10%;
			width: 4%;
			z-index: 7;

			@include help.tablet {
				display: none;
			}
		}

		.angle__button i {
			font-size: 2rem;
		}

		&__headline {
			padding: 0.5rem 2rem;
			font-size: 1.2rem;
			text-transform: capitalize;
			font-weight: help.$f-w-2;
			color: help.$text-color-2;

			// media-query tablet \
			@include help.tablet {
				padding: 0.5rem;
			}

			// media-query mobile
			@include help.mobile {
				font-size: 1rem;
			}
		}

		&__container {
			display: grid;
			cursor: pointer;
			padding: 1rem 2rem;
			overflow-y: hidden !important;

			// media-query tablet
			@include help.tablet {
				padding: 1rem 0.5rem;
			}

			// hide scroll bar
			@extend %scroll-width;

			// grid values for laptop and above devices (height and width for poster items)
			@include help.grid-value(200px, 150px);

			// grid values for tablet
			@include help.tablet {
				@include help.grid-value(170px, 120px);
			}

			// grid values for mobile
			@include help.mobile {
				@include help.grid-value(130px, 90px);
			}

			overflow: scroll;
			column-gap: 0.5rem;

			.poster__item {
				position: relative;
				border-radius: 8px;
				transition: all ease 0.2s 0.2s;

				&:hover {
					transform: scale(1.2);
					z-index: 6;
				}

				&:hover .item__details {
					animation: fade-in 0.5s ease-in;
					visibility: visible;
				}

				.item__details {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 70%;
					padding: 0 1rem 1rem;
					visibility: hidden;
					text-align: left;
					background: linear-gradient(
						to top,
						darken(help.$bg-3, 10) 60%,
						transparent
					);
					color: help.$text-color-2;

					// poster item size for tablet
					@include help.tablet {
						height: 90%;
						padding: 0 .5rem .5rem;
					}

					// poster item size for mobile
					@include help.mobile {
						height: 95%;
					}

					.item__name {
						font-size: 0.7rem;
						font-weight: help.$f-w-3;
					}

					.item__goner {
						font-size: 0.6rem;
						font-weight: help.$f-w-2;
					}

					.item__description h6 {
						font-size: 0.61rem;
						margin: 0.5rem 0;

						// font size for mobile 
						@include help.mobile {
							font-size: .5rem;
						}
					}
				}
			}
		}
	}
}
