@use "../1-helpers/1-helpers" as help;

// ================ main
main {
	padding-top: help.convertor(90);
	background: linear-gradient(to top, help.$bg-1 30%, help.$bg-2);

	.carousel {
		position: relative;

		&:hover .carousel__button i {
			visibility: visible;
		}

		// for carousel buttons
		.carousel__button {
			position: absolute;
			z-index: 5;
			width: 3%;
			height: 100%;

			i {
				visibility: hidden;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				font-size: 2.5rem;
				color: help.$text-color-1;
				cursor: pointer;
			}
		}

		// carousel button background
		.button__bg--left {
			left: 0;
			background: linear-gradient(
				to right,
				rgba(0, 0, 0, 0.1),
				transparent
			);

			i {
				left: 0;
			}
		}

		.button__bg--right {
			right: 0;
			background: linear-gradient(
				to left,
				rgba(0, 0, 0, 0.1),
				transparent
			);
			i {
				right: 0;
			}
		}

		// carousel container
		.carousel__container {
			overflow: auto hidden;
			transform-style: preserve-3d;
			scroll-behavior: smooth;

			// hide scroll-bar
			&::-webkit-scrollbar {
				display: none;
			}
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none;

			.container__item {
				min-width: 100%;
				height: 63vh;
				padding: 0 3rem;
				justify-content: space-between;
				border-radius: 5px;
				transition: all ease 0.3s 0.3s;


				// media query for laptop size, decreasing the height
				@include help.laptop {
					height: 50vh;
				}

				// media query for tablet
				@include help.tablet {
					height: 40vh;
				}

				.text {
					position: relative;
					z-index: 2;
					height: 100%;
					flex: 1;
					padding: 2rem 0 0 2rem;
					text-align: left;
					color: help.$text-color-2;

					// media query for tablet
					@include help.tablet {
						padding: 1rem 0 0 1rem;
					}

					&::after {
						content: "";
						position: absolute;
						left: 0;
						top: 0;
						z-index: -1;
						height: 100%;
						width: 130%;
						border-radius: 5px 0 0 5px;
						background: linear-gradient(
							to right,
							darken(help.$bg-1, 1) 83%,
							rgba(help.$bg-2, 0.8),
							rgba(help.$bg-1, 0.3),
							transparent
						);
					}
				}
			}

			.img {
				flex: 2;
				img {
					width: 100%;
					height: 100%;
					border-radius: 0 5px 5px 0;
					object-fit: fill;
				}
			}

			:nth-child(10) {
				padding-right: 2rem;
			}
		}
	}
}
